/activation-1.1.1.jar
/activemq-artemis-native-1.0.1.jar
/activemq-client-5.14.5.jar
/activemq-openwire-legacy-5.14.5.jar
/airline-0.8.jar
/artemis-amqp-protocol-2.12.0.jar
/artemis-boot.jar
/artemis-cli-2.12.0.jar
/artemis-commons-2.12.0.jar
/artemis-core-client-2.12.0.jar
/artemis-dto-2.12.0.jar
/artemis-hornetq-protocol-2.12.0.jar
/artemis-hqclient-protocol-2.12.0.jar
/artemis-jdbc-store-2.12.0.jar
/artemis-jms-client-2.12.0.jar
/artemis-jms-server-2.12.0.jar
/artemis-journal-2.12.0.jar
/artemis-mqtt-protocol-2.12.0.jar
/artemis-openwire-protocol-2.12.0.jar
/artemis-ra-2.12.0.jar
/artemis-rest-2.12.0.jar
/artemis-selector-2.12.0.jar
/artemis-server-2.12.0.jar
/artemis-service-extensions-2.12.0.jar
/artemis-stomp-protocol-2.12.0.jar
/artemis-tools-2.12.0.jar
/artemis-web-2.12.0.jar
/wildfly-common-1.5.2.Final.jar
/tomcat-servlet-api-8.5.5.jar
/slf4j-api-1.7.21.jar
/slf4j-jboss-logmanager-1.0.4.GA.jar
/proton-j-0.33.4.jar
/qpid-jms-client-0.50.0.jar
/commons-beanutils-1.9.4.jar
/commons-collections-3.2.2.jar
/commons-configuration2-2.7.jar
/commons-lang3-3.0.jar
/commons-logging-1.2.jar
/commons-text-1.8.jar
/micrometer-core-1.1.4.jar
/netty-all-4.1.48.Final.jar
/geronimo-jaspic_1.0_spec-1.0.jar
/geronimo-jms_2.0_spec-1.0-alpha-2.jar
/geronimo-json_1.0_spec-1.0-alpha-1.jar
/geronimo-jta_1.1_spec-1.1.1.jar
/guava-24.1.1-jre.jar
/hawtbuf-1.11.jar
/javax.inject-1.jar
/jaxb-api-2.2.7.jar
/jaxb-core-2.2.7.jar
/jaxb-impl-2.2.7.jar
/jboss-logging-3.4.0.Final.jar
/jboss-logmanager-2.1.10.Final.jar
/jctools-core-2.1.2.jar
/jetty-all-9.4.26.v20200117-uber.jar
/jgroups-3.6.13.Final.jar
/johnzon-core-0.9.5.jar
