/ActiveMQBytesCompatibleMessage.html
/ActiveMQCompatibleMessage.html
/ActiveMQMapCompatibleMessage.html
/ActiveMQObjectCompatibleMessage.html
/ActiveMQStreamCompatibleMessage.html
/ActiveMQTextCompatibleMessage.html
